In [2]:
#1.	Write a Pandas program to add, subtract, multiple and divide two Pandas Series. 
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
import pandas as pd
d1 = pd.Series([2, 4, 6, 8, 10])
d2 = pd.Series([1, 3, 5, 7, 9])
ds = d1 + d2
print("Add two Panda Series:")
print(ds)
print("Subtract two Panda Series:")
ds = d1 - d2
print(ds)
print("Multiply two Panda Series:")
ds = d1 * d2
print(ds)
print("Divide two Panda Series:")
ds = d1 / d2
print(ds)

Add two Panda Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Panda Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Panda Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide two Panda Series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [3]:
#2.	Write a Pandas program to compare the elements of the two Pandas Series. 
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
import pandas as pd
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 10])
print("Compare the elements of two Series:")
print("Equals:")
print(s1 == s2)

Compare the elements of two Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [4]:
#Write a Pandas program to change the data type of given a column or a Series.  
import pandas as pd
s1 = pd.Series(['11', '22', 'swift', '30.82', '33'])
print(s1)
print("Change the data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

0       11
1       22
2    swift
3    30.82
4       33
dtype: object
Change the data type to numeric:
0    11.00
1    22.00
2      NaN
3    30.82
4    33.00
dtype: float64

In [5]:
#Write a Pandas program to convert a given Series to an array.  
import pandas as pd
import numpy as np
s1 = pd.Series(['17', '15', '52', '18.21', 'Paris'])
print(s1)
print("Converting to an array")
a = np.array(s1.values.tolist())
print (a)

0       17
1       15
2       52
3    18.21
4    Paris
dtype: object
Converting to an array
['17' '15' '52' '18.21' 'Paris']

In [8]:
#Write a Pandas program to sort a given Series.   
import pandas as pd
p = pd.Series(['Paris', '21', 'Tokyo', '27.21', '41'])
print(p)
new_p = pd.Series(p).sort_values()
print(new_p)

0    Paris
1       21
2    Tokyo
3    27.21
4       41
dtype: object
1       21
3    27.21
4       41
0    Paris
2    Tokyo
dtype: object

In [7]:
#Write a Pandas program to create the mean and standard deviation of the data of a given Series. 
import pandas as pd
s = pd.Series(data = [1,2,3,4,5,6])
print(s)
print("Mean:",s.mean())
print("Standard deviation:",s.std())

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Mean: 3.5
Standard deviation: 1.8708286933869707

In [9]:
#Write a Pandas program to get the items of a given series not present in another given series. 
import pandas as pd
sr1 = pd.Series([7, 2, 10, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("\nItems of sr1 not present in sr2:")
result = sr1[~sr1.isin(sr2)]
print(result)

Items of sr1 not present in sr2:
0    7
4    5
dtype: int64

In [10]:
#Write a Pandas program to get the items which are not common of two given series. 
import pandas as pd
import numpy as np
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("\nItems of a given series not present in another given series:")
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [11]:
#Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
import pandas as pd
import numpy as np
num_state = np.random.RandomState(50)
num_series = pd.Series(num_state.normal(10, 4, 20))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.758592
1      9.876090
2      7.516286
3      4.141678
4     15.647784
5      8.093071
6      6.878123
7     14.281071
8      4.870830
9      4.690084
10    10.505351
11    13.448775
12    12.786948
13     8.661739
14     6.009896
15    16.395633
16    23.256301
17    13.951082
18    10.495465
19    12.971142
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.75859157  6.66106629 10.18577731 13.57435161 23.25630138]

In [12]:
#Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
import pandas as pd
import numpy as np
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     2
1     2
2     1
3     4
4     2
5     2
6     3
7     1
8     1
9     3
10    3
11    4
12    1
13    1
14    4
dtype: int32
Top 2 Freq: 1    5
2    4
4    3
3    3
dtype: int64
0     Other
1     Other
2         1
3     Other
4     Other
5     Other
6     Other
7         1
8         1
9     Other
10    Other
11    Other
12        1
13        1
14    Other
dtype: object

In [13]:
#Write a Pandas program to extract items at given positions of a given series. 
import pandas as pd
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
21    3
dtype: object

In [14]:
#Write a Pandas program convert the first and last character of each word to upper case in each word of a given series. 
import pandas as pd
s = pd.Series(['london', 'mumbai', 'paris', 'madrid'])
result = s.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("First and last character of each word to upper case:")
print(result)

First and last character of each word to upper case:
0    LondoN
1    MumbaI
2     PariS
3    MadriD
dtype: object

In [15]:
#Write a Pandas program to convert a series of date strings to a timeseries. 
import pandas as pd
date_series = pd.Series(['02 Apr 2011', '22-06-2018', '20200307', '2021/05/06', '2010-04-12', '2019-04-06T11:20'])
print("Date strings to a timeseries:")
print(pd.to_datetime(date_series))

Date strings to a timeseries:
0   2011-04-02 00:00:00
1   2018-06-22 00:00:00
2   2020-03-07 00:00:00
3   2021-05-06 00:00:00
4   2010-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [19]:
import pandas as pd
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
date_series = date_series.map(lambda x: parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Week number:")
print(date_series.dt.weekofyear.tolist())
print("Day of week:")
print(date_series.dt.isocalendar().week.tolist())

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:
[1, 39, 10, 19, 15, 14]

C:\Users\deepdesk\AppData\Local\Temp/ipykernel_6104/1185217349.py:12: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print(date_series.dt.weekofyear.tolist())

In [20]:
#Write a Pandas program to calculate the number of characters in each word in a given series.
import pandas as pd
series1 = pd.Series(['tokyo', 'mumbai', 'paris', 'rome'])
result = series1.map(lambda x: len(x))
print("Number of characters in each word in the said series:")
print(result)

Number of characters in each word in the said series:
0    5
1    6
2    5
3    4
dtype: int64

In [21]:
#Write a Pandas program to get the powers of an array values element-wise.  Note: First array elements raised to powers from second array
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [22]:
#Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import pandas as pd
import numpy as np

exam_data  = {'Name': ['Ronaldo', 'Messi', 'Benzima', 'Pique', 'Ramos'],
        'Goals': [41, 40, 38, np.nan, 9,],
        'attempts': [55, 57, 56, 4, 20],
        'qualify': ['yes', 'yes', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(exam_data , index=labels)
print(df)

      Name  Goals  attempts qualify
a  Ronaldo   41.0        55     yes
b    Messi   40.0        57     yes
c  Benzima   38.0        56     yes
d    Pique    NaN         4      no
e    Ramos    9.0        20      no

In [23]:
#Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
import pandas as pd
import numpy as np

exam_data  = {'Name': ['Ronaldo', 'Messi', 'Benzima', 'Pique', 'Ramos'],
        'Goals': [41, 40, 38, np.nan, 9,],
        'attempts': [55, 57, 56, 4, 20],
        'qualify': ['yes', 'yes', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(exam_data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   Goals     4 non-null      float64
 2   attempts  5 non-null      int64
 3   qualify   5 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 200.0+ bytes
None

In [24]:
import pandas as pd
import numpy as np

exam_data  = {'Name': ['Ronaldo', 'Messi', 'Benzima', 'Pique', 'Ramos'],
        'Goals': [41, 40, 38, np.nan, 9,],
        'attempts': [55, 57, 56, 4, 20],
        'qualify': ['yes', 'yes', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(exam_data , index=labels)
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
      Name  Goals  attempts qualify
a  Ronaldo   41.0        55     yes
b    Messi   40.0        57     yes
c  Benzima   38.0        56     yes

In [25]:
import pandas as pd
import numpy as np

exam_data  = {'Name': ['Ronaldo', 'Messi', 'Benzima', 'Pique', 'Ramos'],
        'Goals': [41, 40, 38, np.nan, 9,],
        'attempts': [55, 57, 56, 4, 20],
        'qualify': ['yes', 'yes', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns and rows:")
print(df.iloc[[1, 3, 4,], [1, 3]])

Select specific columns and rows:
   Goals qualify
b   40.0     yes
d    NaN      no
e    9.0      no

In [26]:
#Write a Pandas program to count the number of rows and columns of a DataFrame.
import pandas as pd
import numpy as np

exam_data  = {'Name': ['Ronaldo', 'Messi', 'Benzima', 'Pique', 'Ramos'],
        'Goals': [41, 40, 38, np.nan, 9,],
        'attempts': [55, 57, 56, 4, 20],
        'qualify': ['yes', 'yes', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(exam_data , index=labels)
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 5
Number of Columns: 4

In [27]:
#Write a Pandas program to count the number of rows and columns of a DataFrame.
import pandas as pd
import numpy as np

exam_data  = {'Name': ['Ronaldo', 'Messi', 'Benzima', 'Pique', 'Ramos'],
        'Goals': [41, 40, 38, np.nan, 9,],
        'attempts': [55, 57, 56, 4, 20],
        'qualify': ['yes', 'yes', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(exam_data , index=labels)
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 5
Number of Columns: 4

In [28]:
#Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.  
#Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#Expected Output:
#Number of attempts in the examination is less than 2 and score greater than 15 :
#name score attempts qualify
#j Jonas 19.0 1 yes
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Number of attempts in the examination is less than 2 and score greater than 15 :")
print(df[(df['attempts'] < 2) & (df['score'] > 15)])

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [29]:
#Write a Pandas program to calculate the sum of the examination attempts by the students. (refer previous question 8’s sample data)
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nSum of the examination attempts by the students:")
print(df['attempts'].sum())

Sum of the examination attempts by the students:
19

In [30]:
#Write a Pandas program to calculate the mean score for each different student in DataFrame. (refer previous question 8’s sample data)
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nMean score for each different student in data frame:")
print(df['score'].mean())

Mean score for each different student in data frame:
13.5625

In [31]:
#Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame. (refer previous question 8’s sample data)
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
print("\nAppend a new row:")
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print("Print all records after insert a new record:")
print(df)
print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

Original rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Append a new row:
Print all records after insert a new record:
        name   score attempts qualify
a  Anastasia    12.5        1     yes
b       Dima     9.0        3      no
c  Katherine    16.5        2     yes
d      James     NaN        3      no
e      Emily     9.0        2      no
f    Michael    20.0        3     yes
g    Matthew    14.5        1     yes
h      Laura     NaN        1      no
i      Kevin     8.0        2      no
j      Jonas    19.0        1     yes
k          1  Suresh      yes    15.5

Delete the new row and display the original  rows:
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
c  Katherine  16.5        2     yes
d      James   NaN        3      no
e      Emily   9.0        2      no
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
j      Jonas  19.0        1     yes

In [32]:
#Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order. (refer previous question 8’s sample data)
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df.sort_values(by=['name', 'score'], ascending=[False, True])
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [33]:
#Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False. (refer previous question 8’s sample data)
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:")
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print(df)

Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

In [34]:
#Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame. (refer previous question 8’s sample data)
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Change the name 'James' to ‘Suresh’:")
df['name'] = df['name'].replace('James', 'Suresh')
print(df)

Change the name 'James' to ‘Suresh’:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [35]:
#Write a Pandas program to iterate over rows in a DataFrame.
import pandas as pd
import numpy as np
exam_data = [{'name':'tim', 'score':12.5}, {'name':'joe','score':9}, {'name':'rachel','score':16.5}]
df = pd.DataFrame(exam_data)
for index, row in df.iterrows():
    print(row['name'], row['score'])

tim 12.5
joe 9.0
rachel 16.5

In [36]:
import pandas as pd
import numpy as np
d = {'name': ['Ronaldo','Messi','Benzima'], 'c_clubs': ['Manchester United','PSG','Real Madrid'], 'p_clubs': ['Juventus','Barcelona','N/A']}
df = pd.DataFrame(data=d)
print('After add one row:')
df2 = {'name':'Ramos', 'c_clubs':'PSG', 'p_clubs':'Real Madrid'}
df = df.append(df2, ignore_index=True)
print(df)

After add one row:
      name            c_clubs      p_clubs
0  Ronaldo  Manchester United     Juventus
1    Messi                PSG    Barcelona
2  Benzima        Real Madrid          N/A
3    Ramos                PSG  Real Madrid

In [37]:
import pandas as pd
import numpy as np
d = {'name': ['Ronaldo','Messi','Benzima'], 'c_clubs': ['Manchester United','PSG','Real Madrid'], 'p_clubs': ['Juventus','Barcelona','N/A']}
df = pd.DataFrame(data=d)
print('After altering name and p_clubs')
df = df[['p_clubs', 'c_clubs', 'name']]
print(df)

After altering name and p_clubs
     p_clubs            c_clubs     name
0   Juventus  Manchester United  Ronaldo
1  Barcelona                PSG    Messi
2        N/A        Real Madrid  Benzima

In [38]:
#Write a Pandas program to select rows from a given DataFrame based on values in some columns.
import pandas as pd
import numpy as np
d = {'name': ['Ronaldo','Messi','Benzima'], 'c_clubs': ['Manchester United','PSG','Real Madrid'], 'p_clubs': ['Juventus','Barcelona','N/A']}
df = pd.DataFrame(data=d)
print('Rows for name value == Messi')
print(df.loc[df['name'] == 'Messi'])

Rows for name value == Messi
    name c_clubs    p_clubs
1  Messi     PSG  Barcelona

In [39]:
#Write a Pandas program to rename columns of a given DataFrame
import pandas as pd
import numpy as np
d = {'name': ['Ronaldo','Messi','Benzima'], 'c_clubs': ['Manchester United','PSG','Real Madrid'], 'p_clubs': ['Juventus','Barcelona','N/A']}
df = pd.DataFrame(data=d)
df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'name': 'Column1', 'c_clubs': 'Column2', 'p_clubs': 'Column3'})
print(df)

   Column1            Column2    Column3
0  Ronaldo  Manchester United   Juventus
1    Messi                PSG  Barcelona
2  Benzima        Real Madrid        N/A

In [40]:
#Write a Pandas program to get list from DataFrame column headers.
import pandas as pd
import numpy as np
d = {'name': ['Ronaldo','Messi','Benzima'], 'c_clubs': ['Manchester United','PSG','Real Madrid'], 'p_clubs': ['Juventus','Barcelona','N/A']}
df = pd.DataFrame(data=d)
print(list(df.columns.values))

['name', 'c_clubs', 'p_clubs']